.form-control {
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-color: $gray-300;

  &::placeholder {
    color: $gray-500;
  }
}

.form-control-lg {
  font-size: 1.25rem;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
  padding: .3rem .5rem;
  font-size: .875rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $gray-100;
}

.was-validated .form-control:invalid + .input-group-append .btn-input,
.form-control.is-invalid + .input-group-append .btn-input {
  border-color: $danger;
}

.col-form-label, .form-group label {
  font-size: 0.95rem;
}

.form-group {
  margin-bottom: 1.5rem;

  .modal & {
    margin-bottom: 1rem;
  }
}

.custom-control {
  min-height: 1.8rem;
  padding-left: 1.8rem;
}

.custom-select {
  font-size: 0.9rem;
}

.custom-control-label {
  font-size: 0.9rem;
}

.custom-file .custom-file-label {
  font-size: 0.9rem;
  line-height: 1.6;
  color: $gray-600;
}

fieldset {
  margin-bottom: 20px;

  legend {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $gray-500;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
}

.custom-select {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23cccccc' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
}