.bg-pink {
  background-color: $pink !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-aqua {
  background-color: $aqua !important;
}

.bg-lime {
  background-color: $lime !important;
}

.bg-violet {
  background-color: $violet !important;
}

.bg-tosca {
  background-color: $tosca !important;
}

.bg-gold {
  background-color: $gold !important;
}

.bg-gray {
  background-color: $gray-500 !important;
}

.text-pink {
  color: $pink !important;
}

.text-red {
  color: $red !important;
}

.text-aqua {
  color: $aqua !important;
}

.text-lime {
  color: $lime !important;
}

.text-violet {
  color: $violet !important;
}

.text-tosca {
  color: $tosca !important;
}

.text-gold {
  color: $gold !important;
}