.social-icons {
  margin-top: 40px
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.social-icons ul li {
  display: inline
}

.social-icons ul li a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 50%;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ddd;
  font-size: 16px
}

.social-icons ul li a:hover {
  color: #fff
}

.facebook a {
  color: #4867AA
}

.facebook a:hover {
  background: #4867AA
}

.twitter a {
  color: #1DA1F2
}

.twitter a:hover {
  background: #1DA1F2
}

.google-plus a {
  color: #DD4D42
}

.google-plus a:hover {
  background: #DD4D42
}

.youtube a {
  color: #DF2926
}

.youtube a:hover {
  background: #DF2926
}

.linkedin a {
  color: #007BB6
}

.linkedin a:hover {
  background: #007BB6
}

.pinterest a {
  color: #BD081C
}

.pinterest a:hover {
  background: #BD081C
}

.dribbble a {
  color: #EA4C89
}

.dribbble a:hover {
  background: #EA4C89
}

.behance a {
  color: #0B7CFF
}

.behance a:hover {
  background: #0B7CFF
}