.form-control {
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 0.5rem 0.8rem;
  border-color: $gray-300;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
  padding: .3rem .5rem;
  font-size: .875rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $gray-100;
}

.col-form-label, .form-group label {
  font-size: 0.95rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.custom-control {
  min-height: 1.8rem;
  padding-left: 1.8rem;
}

.custom-select {
  font-size: 0.9rem;
}

.custom-control-label {
  font-size: 0.9rem;
}

.custom-file .custom-file-label {
  font-size: 0.9rem;
  line-height: 1.6;
  color: $gray-600;
}

fieldset {
  margin-bottom: 20px;

  legend {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $gray-500;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
}