body,
html {
  width: 100%;
  height: 100%;
  color: $gray-800;
}

body {
  @include sans-serif-font;
}

//noinspection CssOptimizeSimilarProperties
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;

  &:hover {
    color: darken($primary, .1);
  }
}

h1, h2, h3, h4, h5, h6 {
  @include sans-serif-font;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-black {
  background-color: $black !important;
}

.text-faded {
  color: fade-out($white, .3);
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-700 {
  color: $gray-700;
}

.text-wide {
  letter-spacing: 3px;
  @include sans-serif-font2;
}

.link-natural {
  color: inherit;

  &:focus, &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.link-muted {
  color: #999;

  &:focus, &:hover {
    color: $primary;
    text-decoration: none;
  }
}

section {
  padding: 3rem 0;

  .section-heading {
    margin-top: 0;
  }

  .section-heading-group {
    @include sans-serif-font2;
    letter-spacing: 1px;
    font-size: 130%;
  }
}

@media (min-width: 768px) {
  section {
    padding: 4rem 0;

    .section-heading-group {
      font-size: 100%;
    }
  }

  .text-wide {
    letter-spacing: 10px;
  }
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio] {
  bottom: 2px;
}
