body,
html {
  width: 100%;
  height: 100%;
  color: $misty;
}

body {
  @include sans-serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;

  &:hover {
    color: darken($primary, .1);
    text-decoration: none;
  }
}

strong {
  font-weight: 500;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-black {
  background-color: $black !important;
}

.text-faded {
  color: fade-out($white, .3);
}

.text-gray-400 {
  color: $gray-400;
}

.text-gray-500 {
  color: $gray-500;
}

.text-gray-700 {
  color: $gray-700;
}

.text-wide {
  letter-spacing: 3px;
  @include sans-serif-font2;
}

.text-strong {
  font-weight: 500;
}

.text-stronger {
  font-weight: bolder;
}

.link-natural {
  color: inherit;

  &:focus, &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.link-muted {
  color: #999;

  &:focus, &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.link-pink {
  color: $pink;

  &:focus, &:hover {
    color: darken($pink, 5%);
    text-decoration: none;
  }
}

.link-aqua {
  color: $aqua;

  &:focus, &:hover {
    color: darken($aqua, 5%);
    text-decoration: none;
  }
}

.link-lime {
  color: $lime;

  &:focus, &:hover {
    color: darken($lime, 5%);
    text-decoration: none;
  }
}

.link-violet {
  color: $violet;

  &:focus, &:hover {
    color: darken($violet, 5%);
    text-decoration: none;
  }
}

.link-tosca {
  color: $tosca;

  &:focus, &:hover {
    color: darken($tosca, 5%);
    text-decoration: none;
  }
}

.link-gold {
  color: $gold;

  &:focus, &:hover {
    color: darken($gold, 5%);
    text-decoration: none;
  }
}

section {
  padding: 3rem 0;

  .section-heading {
    margin-top: 0;
  }

  .section-heading-group {
    @include sans-serif-font2;
    letter-spacing: 1px;
    font-size: 130%;
  }
}

article {
  line-height: 2;

  .blockquote {
    font-style: italic;
    color: $gray-600;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;

  i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    background-color: $primary;
  }
}

@media (min-width: 768px) {
  section {
    padding: 4rem 0;

    .section-heading-group {
      font-size: 100%;
    }
  }

  .text-wide {
    letter-spacing: 10px;
  }
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

input[type=checkbox]:not(.custom-control-input), input[type=radio]:not(.custom-control-input) {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type=radio] {
  bottom: 3px;
}
