$primary: #F05F40 !default;
$misty: #3c4859 !default;

$pink: #f94a65 !default;
$red: #f44336 !default;
$aqua: #42a5f5 !default;
$lime: #8bc34a !default;
$violet: #9575cd !default;
$tosca: #00bfa5 !default;
$gold: #ffb300 !default;