.card-app-wrapper {
  div[class*="col-"] {
    padding-right: 25px;
    padding-left: 25px;

    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding-right: 15px;
      padding-left: 15px;
    }

    @media (min-width: map-get($grid-breakpoints, "xl")) {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  &.list-view {
    div[class*="col-"] {
      padding-right: 15px;
      padding-left: 15px;

      @media (min-width: map-get($grid-breakpoints, "xl")) {
        padding-right: 25px;
        padding-left: 25px;
      }
    }

    .card-app {
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      margin-right: 0;
      margin-bottom: 1.7rem;

      .card-feature {
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
        height: auto;
        width: 100px;
      }

      @media (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: 2rem;

        .card-feature {
          width: 200px;
        }

        .card-body {
          padding-left: 1.8rem;
        }
      }
    }
  }
}

.card-app {
  margin-bottom: 2.3rem;
  border-radius: 10px;

  &.card-coming-soon {
    .card-feature {
      height: 4rem;
    }

    .card-body {
      padding: 1.5rem 1.25rem;

      .card-title {
        font-size: 1.4rem;
      }

      .card-text {
        font-size: 1.2rem;
      }
    }
  }

  .card-feature {
    height: 9rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  .card-body {
    position: relative;

    .card-title {
      margin-bottom: 5px;
    }

    .card-text {
      font-size: 0.8em;
      color: $gray-500;
      margin-bottom: 0;
      padding-right: 15px;
    }

    i {
      position: absolute;
      right: 0;
      top: 50%;
      color: $white;
      padding: 10px;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background: $primary;
      font-size: 1.4rem;
    }
  }

  .btn-arrow {
    display: none;
  }

  @media (min-width: map-get($grid-breakpoints, "md")) {
    margin-right: 10px;

    .btn-arrow {
      display: block;
    }
  }
}

.card-borderless {
  margin-bottom: 25px;
  border: none;

  .card-header {
    border-bottom: none;
    background-color: transparent;
    @include box-shadow;

    a {
      display: block;

      i {
        padding: 5px 0;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .card-body {
    font-size: 0.9rem;
  }
}

.card-pricing {
  @include transition-all;
  @include box-shadow;
  border: none;

  &:hover {
    z-index: 2;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.19);
  }

  &.featured {
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: $primary;
    color: $white;

    .card-title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .price {
      font-weight: 700;
    }

    .list-group-item {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .card-footer {
      background: transparent;
    }
  }

  .price, .card-title {
    font-weight: 600;
  }

  .list-group-item {
    font-size: 0.95rem;
    padding: 0.7rem 1.2rem;
  }

  .card-footer {
    border-top: none;
  }
}

.card.card-empty {
  background: transparent;
  border-style: dashed;
  border-width: 2px;
  color: $gray-500;

  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

.card-portfolio {
  margin-bottom: 25px;

  &.card-empty {
    min-height: 295px;
  }

  .card-body {
    padding: 0.7rem 1rem;
    min-height: 115px;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    letter-spacing: 1px;
  }

  .card-footer {
    padding: 0.55rem 0.8rem 0.55rem 1rem;
  }
}

.card-text.small, .card-footer.small {
  font-size: 0.9rem;
}

.card-drive {
  margin-bottom: 20px;
  position: relative;

  &:active, &:focus, &:hover, &.active {
    border-color: $primary;
  }

  .drive-control {
    position: absolute;
    right: 0.5rem;
    top: 0.6rem;
  }

  .card-body {
    padding: 1rem;
  }

  .file-name {
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    user-select: none;
  }

  &.directory {
    .file-name {
      height: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    small {
      cursor: default;
      user-select: none;
    }
  }
}