body {
  background-color: #fdfdfd;
}

.navbar-app {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.06);
  color: $gray-800;
  @include transition-all;
  padding: 0.9rem 0;

  > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand {
    font-weight: 600;
    color: $primary;
    @include sans-serif-font;

    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }

  .search-form {
    .input-group {
      position: relative;

      input {
        padding-left: 2rem;
        font-size: 0.8rem;

        @media (min-width: map-get($grid-breakpoints, "lg")) {
          width: 300px;
        }
      }
    }

    i {
      position: absolute;
      padding: 0.62rem 0.7rem;
      z-index: 3;
      color: $gray-600;
      font-size: 0.75rem;
    }
  }

  .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem;
    font-size: .9rem;

    @media (min-width: map-get($grid-breakpoints, "md")) {
      padding: 0.5rem 0.75rem;
    }

    i {
      vertical-align: middle;
    }
  }

  .dropdown-account {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.content-wrapper {
  min-height: calc(100vh - 145px);
}

.box-shadow {
  @include box-shadow
}

.card-app-wrapper {
  div[class*="col-md"] {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.section-title {
  margin-bottom: 20px;

  i[class*='icon-'] {
    margin-right: 15px;
  }

  small {
    margin-left: 40px;
  }
}

.section-content {
  padding-top: 1rem;
  margin-bottom: 2rem;
}