body {
  background-color: #fdfdfd;
}

.navbar-app {
  background-color: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.06);
  color: $gray-800;
  @include transition-all;

  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $primary;
    @include sans-serif-font;

    &:focus,
    &:hover {
      color: darken($primary, .1);
    }
  }

  .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
  }
}

.content-wrapper {
  min-height: calc(100vh - 145px);
}

.box-shadow {
  @include box-shadow
}

.card-app-wrapper {
  div[class*="col-md"] {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.section-title {
  margin-bottom: 15px;

  i[class*='icon-'] {
    margin-right: 15px;
    vertical-align: middle;
  }

  small {
    margin-left: 40px;
  }
}

.section-content {
  padding: 2.5rem 0;
}