.box-list {
  li {
    display: block;
    padding: 15px;
    margin-bottom: 25px;
    @include box-shadow();

    small {
      display: block;
    }

    ul {
      padding-left: 30px;
      margin-bottom: 30px;

      li {
        list-style: none;
      }
    }
  }
}