.sidebar {
  margin-bottom: 25px;

  .sidebar-header {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid $gray-200;

    &.avatar-collapse {
      .user-avatar {
        float: left;
        border-radius: 50%;
        width: 50px;
        margin-bottom: 0;
      }

      .user-info, .user-control {
        padding-left: 60px;
      }
    }

    .user-avatar {
      margin-bottom: 20px;
      border-radius: 7px;
    }

    .user-name {
      font-size: 1.1rem;
      line-height: 1.3;
      margin-bottom: 0;
    }
  }

  .sidebar-menu {
    padding-left: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $gray-200;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      padding-bottom: 20px;
    }

    > li {
      list-style: none;

      &.active {
        a {
          color: $primary;

          i {
            background-color: $primary;
            border-radius: 50%;
            color: $white;
          }
        }
      }

      ul {
        padding-left: 0;
        text-transform: uppercase;

        li {
          position: relative;
          list-style: none;

          &.active {
            > a {
              font-weight: 500;
              color: $primary;
            }
          }

          .dropdown-item.active, .dropdown-item:active {
            background-color: transparent;
          }

          > a, .dropdown-item {
            line-height: 2rem;
            font-size: 0.8rem;

            @media (min-width: map-get($grid-breakpoints, "md")) {
              font-size: 0.9rem;
            }
            @media (min-width: map-get($grid-breakpoints, "lg")) {
              line-height: 2.2rem;
            }
          }

          i {
            margin-right: 10px;
          }
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
          padding-left: 45px;
          text-transform: none;

          li {
            &.active a {
              font-weight: 400;
            }
          }
        }
      }
    }

    a, a:focus {
      color: $gray-900;

      &:hover {
        color: $primary;
        text-decoration: none;
      }

      &.active {
        color: $primary;
      }
    }

    a {
      display: block;
      line-height: 2.7rem;

      i {
        padding: 8px;
      }
    }

    i {
      margin-right: 20px;
      list-style: none;
    }
  }
}