.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;

  .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: $white;
    background: fade-out($primary, .1);
    @include transition-all;

    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;

      .project-category,
      .project-name {
        padding: 0 15px;
        @include sans-serif-font2;
      }

      .project-category {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .project-name {
        font-size: 18px;
      }
    }
  }

  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category {
          font-size: 16px;
        }

        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}

.mfp-with-zoom {
  .mfp-container, &.mfp-bg{
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    .mfp-container {
      opacity: 1;
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  &.mfp-removing {
    .mfp-container, &.mfp-bg {
      opacity: 0;
    }
  }
}

.showcase-title {
  line-height: 1;
  margin-bottom: 20px;
}

.showcase-description {
  margin-bottom: 30px;
}

.showcase-information {
  margin-bottom: 35px;
}

.showcase-gallery {
  img {
    width: 100%;
  }
}

.showcase-control {
  .btn {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#showcases-mix .mix {
  margin-bottom: 20px;

  .lead {
    font-weight: 600;

    + p {
      font-size: 0.9rem;
    }
  }
}