footer {
  padding: 70px 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  font-size: 0.9rem;

  li {
    line-height: 2;
  }

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    p {
      font-size: 0.95rem;
    }
  }
}

