.cookie-choice {
  position: fixed;
  width: 100%;
  background-color: $misty;
  color: $gray-200;
  left: 0px;
  bottom: 0px;
  padding: 15px 0;
  z-index: 1000;
  text-align: center;

  span {
    font-size: 0.9rem;
  }
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
  .w-sm-auto {
    width: auto !important;
  }
}